@import "tailwindcss";

:root {
  --main-color: #F7B225;
  --accent-color: #D74D13;
  --base-color: #FBF8F3;
}

/* Custom utilities */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@theme {
  --color-main: var(--main-color);
  --color-accent: var(--accent-color);
  --color-base: var(--base-color);
}